# Python
.venv/
__pycache__/
*.pyc

# Pyenv
.python-version

# Env / secrets
.env

# OS / editor
.vscode/
.DS_Store

# ML artifacts
*.pt
*.pth
*.ckpt

*.zip
aws/

boto3/creds/

# Files
*.pdf

# Model Checkpoints
sentiment_classification/train_tinybert_imdb

disaster_tweet_classification/train_dir